* {
   margin: 0;
   padding: 0;
   font-family: Montserrat;
   box-sizing: border-box; 
}
html {
  scroll-behavior: smooth;
}
body {
   background-image: repeating-linear-gradient(
      45deg,
      transparent,
      transparent 8px,
      hsl(325 72.2% 10% / 0.03) 10px,
      hsl(325 72.2% 10% / 0.03) 11px
   );
}
:root {
   --light-pink:hsl(325 72.2% 91.4% / 0.7);
   --dark-pink: hsl(325 72.2% 80% / 0.9);
}
   /* ============================================================================
      Templates
   ============================================================================ */
.title {
   font-family: "Playfair Display";
   margin: 0 0 5px 25px;
}
.sub-title {
   margin: 10px 5px 5px 25px;
   font-size: 16px;
}
a {
   color: hsl(17 72.2% 35%);
   text-decoration-color: hsl(325 72.2% 10% / 0.2);
   transition: color 0.25s, text-decoration-color 0.25s;
}
a:hover {
   color: hsl(325 72.2% 30% / 0.7);
   text-decoration-color: hsl(325 72.2% 10% / 0.6);
}
.pg-link {
   scroll-margin-top: 100px;
}

.sections {
   display: flex;
   flex-wrap: wrap;
}
.section,
.jap-section,
.sub-section {
   background-color: var(--light-pink);
   box-shadow: -1px -1px 5px hsl(325 72.2% 10% / 0.5);
   transition: box-shadow 0.1s ease-in, background-color 0.1s ease-in;
   margin: 15px;
   padding: 10px 15px 30px;
   border-radius: 5px;
}
.jap-section {
   border-radius: 20px;
   box-shadow: -3px -3px 10px hsl(325 72.2% 10% / 0.5);
}
.sub-section {
   background-color: var(--dark-pink);
   background-image: repeating-linear-gradient(
      45deg,
      transparent,
      transparent 8px,
      hsl(325 72.2% 10% / 0.01) 10px,
      hsl(325 72.2% 10% / 0.01) 11px
   );
   margin: 15px 30px;
}
.section p {
   margin-left: 35px;
}

.section:hover {
   box-shadow: -3px -3px 10px hsl(325 72.2% 10% / 0.7);
   background-color: hsl(325 72.2% 91.4%);
}
.jap-section:hover {
   box-shadow: -2px -2px 10px hsl(325 72.2% 10% / 0.7);
   background-color: hsl(325 72.2% 91.4%);
}
.sub-section:hover {
   box-shadow: -1px -1px 10px hsl(325 72.2% 10% / 0.7);
   background-color: hsl(325 72.2% 80%);
   background-image: repeating-linear-gradient(
      45deg,
      transparent,
      transparent 8px,
      hsl(325 72.2% 10% / 0.00) 10px,
      hsl(325 72.2% 10% / 0.00) 11px
   );
}

   /* ============================================================================
      Styling multiple separate elements 
   ============================================================================ */
nav,
div.links,
.jap-section,
footer {
   display: flex;
   flex-wrap: wrap;
}
nav .links h3:hover,
footer h6:hover {
   transform: translateY(-3px);
   text-shadow: 0px 7px 5px rgba(0, 0, 0, 0.2);
   transition: transform 0.25s ease-in, text-shadow 0.25s ease-in;
}
div.title-bar h2,
div.title-bar p,
.sub-section h2,
.sub-section p,
.about h2,
.chapters h4  {
   display: inline-block;
}

footer,
footer .links,
nav .links {
   gap: 25px;
}

   /* ============================================================================
      Styling the Nav bar 
   ============================================================================ */

nav {
   align-items: center;
   background-color: var(--dark-pink);
   box-shadow: -3px -3px 10px hsl(325 72.2% 10%);
   transition: box-shadow 0.25s ease-out;
   border-radius: 16px;
   margin: 10px;
   padding: 8px 0;
}
nav h1.title {
   margin-right: 35px;
}
nav .links { 
   margin: 0 25px 0 auto;
}
   /* ============================================================================
      Adding reactivity to the Nav bar
   ============================================================================ */
nav:hover {
   box-shadow: -5px -5px 15px hsl(325 72.2% 10%);
}

nav .links h3 {
    transition: transform 0.25s, text-shadow 0.25s;
}

   /* ============================================================================
      Styling individual sections

      .about 
   ============================================================================*/

.about {
   flex: 2 1 300px;
}

   /* ============================================================================
      .chapters
   ============================================================================ */

.chapters {
   flex: 1 1 300px;
}
.chapters h4,
.chapters li {
   transition: transform 0.25s ease-in-out, text-decoration 0.25s;
}
.chapters h4 {
   margin-left: 50px;
}
.chapters li {
   margin-left: 75px;
}

.chapters h4:hover,
.chapters li:hover {
   cursor: pointer;
   transform: translateX(10px);
   text-decoration: underline hsl(325 72.2% 50%);
}

   /* ============================================================================
      Japanese sections

      Hiragana
   ============================================================================ */

div.title-bar {
   flex-basis: 100%;
}

div.title-bar p {
   margin-left: 15px;
}
.sub-section.hirigana{
   flex: 2 1;
}
.sub-section p {
   font-size: 14px;
   font-weight: 500;
}
.sub-section .no-bottom-margin {
   margin-bottom: 0;
}
.sub-section li {
   margin: 20px 30px;
}
.sub-section li.link {
   list-style-type: none;
   margin-top: 5px;
}

.sub-section.katakana {
   display: flex;
   flex-direction: column;
   flex: 1;
}
.katakana .title {
   margin: 0 25px 5px 25px;
}

   /* ============================================================================
      footer
   ============================================================================ */

footer.section {
   padding: 10px;
}
footer h6 {
   transition: transform 0.25s, text-shadow 0.25s;
}
footer h6.first {
   margin-right: auto;
}
footer h6.last {
   margin-right: 20px;
}

footer.section:hover {
   box-shadow: -1px -1px 10px hsl(325 72.2% 10% / 0.7);
}
footer h6:hover {
   transform: translateY(-1.5px);
}

   /* ============================================================================
      @media
   ============================================================================ */

@media screen and (width <= 830px) {
   .sub-section.hirigana {
      margin-left: 10px;
      margin-right: 10px;
      padding-right: 0;
   }
   .sub-section.katakana {
      flex-basis: 100%;
      margin-left: 10px;
      margin-right: 10px;
   }
   .about h2,
   .chapters h2,
   .about p,
   .chapters p,
   .chapters h4 {
      margin-left: 0;
   }
   .chapters li {
      margin-left: 25px;
   }
}
@media screen and (width >= 950px) {
   .section p {
      width: 75%;
   }
}
@media screen and (width >= 1200px) {
   .section p {
      width: 50%;
   }
}