* {
   margin: 0;
   padding: 0;
   font-family: Montserrat;
   box-sizing: border-box; 
}
nav h1,
.section h2 {
   margin-left: 25px;
}
.title {
   font-family: "Playfair Display";
}
   /* Styling the Nav bar */
nav, div.links {
   display: flex;
   flex-wrap: wrap;
   }
nav {
   align-items: center;
   background-color: hsl(325 72.2% 80%);
   box-shadow: -3px -3px 10px hsl(325 72.2% 10%);
   transition: box-shadow 0.25s ease-out;
   border-radius: 16px;
   margin: 10px;
   padding: 8px 0;
}
nav h1 {
   margin-right: 35px;
}
nav .links { 
   gap: 25px;
   margin: 0 25px 0 auto;
}
   /* Adding reactivity to the Nav bar */
nav:hover {
   box-shadow: -5px -5px 15px hsl(325 72.2% 10%);
}
nav .links h3:hover {
   /* remove 'cursor: pointer;' once h3 is turned into a link */
   cursor: pointer;
   transform: translateY(-3px);
   text-shadow: 0px 7px 5px rgba(0, 0, 0, 0.2);
   transition: transform 0.25s ease-in, text-shadow 0.25s ease-in;
}
nav .links h3 {
    transition: transform 0.25s, text-shadow 0.25s;
}

   /* Styling sections */
   /* when it's smaller (screen) than 600px I want the sections to wrap, I want the .about section to go onto a new line */
.sections {
   display: flex;
   flex-wrap: wrap;
}
.section {
   background-color: hsl(325 72.2% 91.4%);
   box-shadow: -1px -1px 5px hsl(325 72.2% 10% / 0.5);
   transition: box-shadow 0.1s ease-in;
   margin: 15px;
   border-radius: 5px;
}

.section p {
   margin-left: 10px;
}
@media screen and (width >= 950px) {
   .section p {
      width: 75%;
   }
}
@media screen and (width >= 1200px) {
   .section p {
      width: 50%;
   }
}
.section:hover {
   box-shadow: -3px -3px 10px hsl(325 72.2% 10% / 0.7);
}
   /* Styling individual sections */
.about {
   flex: 2 1 300px;
}
.about h2 {
   display: inline-block;
}

.chapters {
   flex: 1 1 300px;
}
.chapters h4 {
   display: inline-block;
   margin-left: 25px;
   transition: transform 0.25s ease-in-out;
}
.chapters p {
   margin-left: 45px;
   transition: transform 0.25s ease-in-out;
}

.chapters h4:hover,
.chapters p:hover {
   cursor: pointer;
   transform: translateX(10px);
}